---
import TextSwap from './TextSwap.astro';

export type BlogTileProps = {
  title: string;
  text: string;
  href: string;
  image?: string;
};

const { title, text, href, image } = Astro.props;
---

<article
  class="blog-tile text-swapper relative flex cursor-pointer flex-col gap-3 overflow-hidden bg-amber-300 p-5 lg:h-125"
  data-has-image={Boolean(image)}
>
  {title && <h3 class="font-sub-heading relative z-10">{title}</h3>}
  {text && <p class="font-body relative z-10">{text}</p>}
  {
    href && (
      <a href={href} class="faux-link | font-sub-heading mt-auto text-right">
        <TextSwap text="Read more" class="relative z-10" />
      </a>
    )
  }
  {
    image && (
      <img
        src={image}
        class="blog-tile-image absolute top-0 left-0 block h-full w-full scale-100 object-cover transition-transform"
      />
    )
  }
</article>

<style>
  .faux-link::after {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: background ease-in-out 0.25s;
    width: 100%;
    z-index: 8;
  }

  [data-has-image='true'] .faux-link::after {
    background: rgba(0, 0, 0, 0.4);
  }

  [data-has-image='true'] {
    color: var(--color-white);
  }

  [data-has-image='false'] {
    color: var(--color-black);
  }

  .blog-tile:hover .blog-tile-image {
    transform: scale(1.2);
  }

  .blog-tile:hover .faux-link::after {
    background: rgba(0, 0, 0, 0.6);
  }
</style>
